<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Consent</title>
  <meta th:name="_csrf" th:content="${_csrf.token}"/>
  <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>
  <h1>Consent required</h1>
  <div id="errorDiv" style="display: none"></div>
  <button id="connectWalletButton" style="display: none">Connect Wallet</button>
  <div id="contentDiv" style="display: none">
    <p>
      The application
      <span id="oauthClientId" th:text="${clientId}"></span>
      wants to access your account
      <span th:text="${principalName}"></span>
      .
    </p>
    <p>
      The following permissions are requested by the above app.<br/>Please review these and consent
      if you approve.
    </p>
    <form method="post" action="/oauth2/authorize" id="consentForm">
      <input name="client_id" type="hidden" th:value="${clientId}">
      <input name="state" type="hidden" th:value="${state}">
      <input name="message" type="hidden" id="siweMessage">
      <input name="signature" type="hidden" id="siweSignature">

      <div th:each="scope: ${scopes}">
        <input name="scope"
               type="checkbox"
               th:id="${scope.scope}"
               th:value="${scope.scope}"
               checked>
        <label th:for="${scope.scope}" th:text="${scope.scope}"></label>
        <p th:text="${scope.description}"></p>
      </div>

      <p th:if="${not #lists.isEmpty(previouslyApprovedScopes)}">
        You have already granted the following permissions to the above app:
      </p>
      <div th:each="scope: ${previouslyApprovedScopes}">
        <input name="approved_scope"
               type="checkbox"
               th:id="${scope.scope}"
               disabled
               checked>
        <label th:for="${scope.scope}" th:text="${scope.scope}"></label>
        <p th:text="${scope.description}"></p>
      </div>

      <button type="submit" id="consentApproveButton" name="consent_action" value="approve">Submit Consent</button>
      <button type="submit" id="consentDenyButton" name="consent_action" value="cancel">Cancel</button>
    </form>
  </div>
  <script type="module">
    import {connectWallet, getAccountAddress, signMessage} from '/js/base.js';

    async function createConsentMessage(chainId, address, clientId) {
      const query = 'chain_id=' + chainId + '&address=' + address + '&client_id=' + clientId ;
      const res = await fetch('/consent-message?' + query, {
        credentials: 'include',
      });
      return await res.text();
    }

    async function authorizeWithEthereum(evt) {
      evt.preventDefault();

      const oauthClientId = document.getElementById('oauthClientId').innerHTML;

      const address = await getAccountAddress();
      const message = await createConsentMessage(1, address, oauthClientId);
      const signature = await signMessage(message);

      document.getElementById('siweMessage').value = window.btoa(message);
      document.getElementById('siweSignature').value = window.btoa(signature);

      const form = document.getElementById('consentForm');
      form.submit();
    }

    const connectWalletButton = document.getElementById('connectWalletButton');
    connectWalletButton && connectWalletButton.addEventListener('click', connectWallet, false);

    const consentApproveButton = document.getElementById('consentApproveButton');
    consentApproveButton && consentApproveButton.addEventListener('click',
        function(e) {authorizeWithEthereum(e);}, false);

    const consentDenyButton = document.getElementById('consentDenyButton');
    consentDenyButton && consentDenyButton.addEventListener('click',
        function(e) {authorizeWithEthereum(e);}, false);

    connectWallet();
  </script>
</body>
</html>
