<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" href="/css/bootstrap.css" />
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body class="text-center">
  <div>
    <img class="mb-4" src="/img/ethereum.svg" alt="Ethereum logo" width="72" height="72">
    <h4 class="h4 mb-3 font-weight-normal">Sign-In with Ethereum</h4>
    <p class="mt-0 mb-3 text">
      Hello [[${#httpServletRequest.remoteUser}]],
      <br>
      your Sign-In with Ethereum was successful!
    </p>
    <form th:action="@{/logout}" method="post">
      <button class="btn btn-outline-dark" type="submit">Logout</button>
    </form>
  </div>
  <script type="text/javascript" src="/js/bootstrap.js"></script>
</body>
</html>
