<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <meta th:name="_csrf" th:content="${_csrf.token}"/>
  <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>
  <h1>Login</h1>
  <div th:if="${param.error}">Invalid username and password.</div>
  <div th:if="${param.logout}">You have been logged out.</div>
  <div id="errorDiv" style="display: none"></div>
  <button id="connectWalletButton" style="display: none">Connect Wallet</button>
  <div id="contentDiv" style="display: none">
    <form method="post" action="/login" id="loginForm">
      <input type="hidden" name="_csrf" th:value="${_csrf.token}">
      <input type="hidden" name="_csrf_header" th:value="${_csrf.headerName}">
      <input type="hidden" name="message" id="siweMessage">
      <input type="hidden" name="signature" id="siweSignature">
      <button type="submit" id="loginButton" name="login_action">Login</button>
    </form>
  </div>
  <script type="module">
    import {connectWallet, getAccountAddress, signMessage} from '/js/base.js';

    async function createLoginMessage(chainId, address) {
      const query = 'chain_id=' + chainId + '&address=' + address;
      const res = await fetch('/login-message?' + query, {
        credentials: 'include',
      });
      return await res.text();
    }

    async function loginInWithEthereum(evt) {
      evt.preventDefault();

      // Create and sign message
      const address = await getAccountAddress();
      const message = await createLoginMessage(1, address);
      const signature = await signMessage(message);

      document.getElementById('siweMessage').value = window.btoa(message);
      document.getElementById('siweSignature').value = window.btoa(signature);

      const form = document.getElementById('loginForm');
      form.submit();
    }

    const connectWalletButton = document.getElementById('connectWalletButton');
    connectWalletButton && connectWalletButton.addEventListener('click', connectWallet, false);

    const loginButton = document.getElementById('loginButton');
    loginButton && loginButton.addEventListener('click', function(e) {loginInWithEthereum(e);},
        false);

    connectWallet();
  </script>
</body>
</html>