<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="/css/bootstrap.css" />
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body class="text-center" th:style="${#authentication.getPrincipal().equals('anonymousUser') ? 'display:flex' : 'display:block'}">
  <div>
    <img class="mb-4" src="/img/ethereum.svg" alt="Ethereum logo" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Sign-In with Ethereum</h1>
    <div th:if="${param.error}">
      <p class="mt-5 mb-3 text-muted">Invalid address or signature.</p>
    </div>
  <div id="info-div" class="mt-5 mb-3 text-muted" style="display: none"></div>
  <div class="mt-5">
    <button id="connect-wallet-button" class="btn btn-lg btn-dark" style="display: none">Connect Wallet</button>
  </div>
  <div id="content-div" style="display: none">
    <form id="login-form" th:action="@{/login}" method="post">
      <input type="hidden" name="message" id="siwe-message">
      <input type="hidden" name="signature" id="siwe-signature">
    </form>
  </div>
  </div>
  <!--  TODO: NO ES module available for walletconnect; use webpack? -->
  <script type="text/javascript" src="/js/walletconnect.js"></script>
  <script type="text/javascript" src="/js/web3modal.js"></script>
  <script type="module">
    import { initWeb3Modal, connectWallet } from '/js/base.js';

    const connectWalletButton = document.getElementById('connect-wallet-button');
    connectWalletButton && connectWalletButton.addEventListener('click', connectWallet, false);

    initWeb3Modal();
    connectWallet();

    //# sourceURL=inlinejs.js
  </script>
  <script type="text/javascript" src="/js/bootstrap.js"></script>
</body>
</html>
